<?xml version="1.0"?>
<launch>
  <!-- load rosparams for services and topics -->
  <rosparam command="load" file="$(find autonomy_manager)/config/constants.yaml" />

  <!-- Teleop Node -->
  <node name="teleop_patrick" pkg="robo_nav" type="teleop_patrick.py" output="screen" />

  <!-- Static TF: base_link -> gq7_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_gq7_link"
        args="-0.0162 -0.09528 0 0 0 0 1 base_link gq7_link" />
</launch>
