<?xml version="1.0"?>
<launch>
    <arg name="useJoy" default="false"/>
    <arg name="useLidar" default="false"/>
    <arg name="useMicrostrain" default="true"/>
    <arg name="useManager" default="true"/>

    <!-- load rosparams for services and topics -->
	<rosparam command="load" file="$(find autonomy_manager)/config/constants.yaml" />

    <!-- Teleop Node -->
    <node name="teleop_patrick" pkg="robomech_nav" type="teleop_patrick.py" output="screen" />

    <!-- Static TF: base_link -> gq7_link -->
    <node 
		pkg="tf2_ros"
		type="static_transform_publisher"
		name="base_link_gq7_link_static_transform_test"
		args="
		-0.0162 -0.09528 0 0 0 0 1 base_link gq7_link
		" />

    <!-- Arm Raise and Lower Control -->
    <node name="arm_control" pkg="arm_control" type="arm_control.py" output="screen"/>
 
   
</launch>
