<?xml version="1.0"?>
<launch>
  <!-- load rosparams for services and topics -->
  <rosparam command="load" file="$(find autonomy_manager)/config/constants.yaml" />

  <!-- Teleop Node -->
  <node name="teleop_patrick" pkg="robo_nav" type="teleop_patrick.py" output="screen" />
  
  <!-- Joystick Event Publisher Node -->
  <!-- Check if the file exists and set an argument -->
  <arg name="joystick_connected" default="$(eval '1' if eval('_' + '_import_' + '_(\'os\')').path.exists('/dev/input/js0') else '0')" />
  <group if="$(arg joystick_connected)">
    <node name="joy_node_patrick" pkg="joy" type="joy_node" output="screen" />
  </group>

  <!-- Static TF: base_link -> gq7_link -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_gq7_link"
        args="-0.0162 -0.09528 0 0 0 0 1 base_link gq7_link" />
    
  <include file="$(find robo_nav)/launch/rover_basic.launch" />
</launch>
