<?xml version="1.0"?>
<launch>
  <arg name="useArm" default="true"/>
  <arg name="usePXRF" default="true"/>
  <arg name="useManager" default="true"/>
  <arg name="useArmCamera" default="true"/>

  <!-- ROS Params, TF and Vel Pub -->
  <include file = "$(find autonomy_manager)/launch/basic.launch"/>

  <!-- Arm Raise and Lower Control -->
  <group if="$(arg useArm)">
    <node name="arm_control" pkg="arm_control" type="arm_control.py" output="screen"/>
  </group>

  <!-- Arm Raise and Lower Control -->
  <group if="$(arg usePXRF)">
    <include file = "$(find pxrf)/launch/pxrf.launch"/>
  </group>

  <!-- Autonomy Manager -->
  <group if="$(arg useManager)">
    <node name="manager" pkg="autonomy_manager" type="manager.py" output="screen"/>
  </group>

  <!-- Arm Camera -->
  <group if="$(arg useArmCamera)">
    <include file = "$(find autonomy_manager)/launch/arm_camera.launch"/>
  </group>

</launch>
