<?xml version="1.0"?>
<launch>
  <arg name="useArm" default="true"/>
  <arg name="usePXRF" default="true"/>
  <arg name="useManager" default="true"/>
  <arg name="useArmCamera" default="false"/>
  <arg name="useRTK" default="false"/>
  <arg name="useMoveBase" default="true"/>

  <!-- ROS Params, TF and Vel Pub -->
  <!-- <include file = "$(find autonomy_manager)/launch/basic.launch"/> -->

  <node name="data_recorder" pkg="autonomy_manager" type="data_recorder.py" output="screen"/>

  <!-- Arm Raise and Lower Control -->
  <group if="$(arg useArm)">
    <node name="arm_control" pkg="arm_control" type="arm_control.py" output="screen"/>
  </group>

  <!-- Arm Raise and Lower Control -->
  <group if="$(arg usePXRF)">
    <include file = "$(find pxrf)/launch/pxrf.launch"/>
  </group>

  <!-- Autonomy Manager -->
  <group if="$(arg useManager)">
    <node name="manager" pkg="autonomy_manager" type="manager.py" output="screen"/>
  </group>

  <!-- Arm Camera -->
  <group if="$(arg useArmCamera)">
    <include file = "$(find autonomy_manager)/launch/arm_camera.launch"/>
  </group>

  <!-- RTK Base Station -->
  <group if="$(arg useRTK)">
    <include file = "$(find rtk_base)/launch/base_rtcm_pub.launch"/>
  </group>

   <!-- Movebase -->
  <group if="$(arg useMoveBase)">
    <include file = "$(find robo_nav)/launch/move_base.launch"/>
  </group>

</launch>
