<?xml version="1.0"?>
<launch>
    <!-- hebi nodes -->
    <rosparam file="$(find hebi_cpp_api_examples)/config/wheelie_params.yaml" command="load" />
    <node name="base_node" pkg="hebi_cpp_api_examples" type="wheelie_node"/>
    <node name="mobile_io_teleop" pkg="gps_navigation" type="hebi_teleop.py" >
        <remap from="~cmd_vel" to="/cmd_vel"/>
    </node>

    <node name="tool_interface" pkg="gps_navigation" type="tool_arms_ctrl.py" />
    <node name="pan_tilt_ctrl" pkg="gps_navigation" type="pan_tilt_ctrl.py" />

    <!-- gps driver -->
    <include file="$(find microstrain_inertial_driver)/launch/microstrain.launch" />

    <!-- throttle /nav/odom and /nav/heading for gui stability -->
    <node name="odom_throttler" pkg="topic_tools" type="throttle" args="messages /nav/odom 5.0"/>
    <node name="heading_throttler" pkg="topic_tools" type="throttle" args="messages /nav/heading 5.0"/>

    <!-- vanta pxrf -->
    <node name="pxrf_driver" pkg="pxrf" type="main" />
    <node name="pxrf_manager" pkg="pxrf" type="pxrf_manager.py" />

    <!-- Run navigation -->
    <node name="gps_navigation" pkg="gps_navigation" type="gps_navigation.py" output="screen"/>
</launch>
